{{#each family}}
  <div >
    <div >
      <h2> {{name}} is a {{age}} year old {{gender}}. </h2>
      <h4> Their skills include {{skills}}!
    </div>
    <button type= "button" class='deleteButton'>Remove Member</button>
  </div>  
{{/each}}